/* ==========================================================================
   Night theme skin
   ========================================================================== */

/* Colors */
$base-color: #f1f1f1 !default;
$text-color: #E1E1E1 !default;
$accent-color: #B64FC8 !default;
$background-color: #1F1F1F !default;
$code-background-color: #252a34 !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #3C4042 !default;
